/* 폰트 등록 */
@font-face {
    font-family: nanum;
    src: url("../font/NanumGothic.ttf");
}

/* 전체 스타일 */
* {
    /* 크기 계산법을 "테두리 기준"으로 설정 */
    box-sizing: border-box;
    font-family: nanum;
}

/* body 에 test 가 붙어있다면 그 안에 있는 div에 테두리 부여 */
/* > 는 "직계 자식" 태그를 의미 */
/* body[test] > div{*/
/* 그냥 띄어쓰기로 쓰면 "모든 자식" 태그를 의미 */
body[test] div,
body[test] p,
body[test] span,
body[test] label,
body[test] header,
body[test] main,
body[test] nav,
body[test] aside,
body[test] footer,
body[test] section,
body[test] article{
    border: 1px dotted gray;
}

/*******************************
    페이지 네비게이터 스타일
*******************************/
/*        ul[class=navigator]{*/
.navigator {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navigator > li {
    display: inline-block;
    padding: 0.5rem;
    /*            최소 폭 지정 : 넘어갈 경우 늘어남*/
    min-width: 40px;
    text-align: center;
}

.navigator > .active {
    background-color: black;
    color: white;
}

/******************************
    메뉴
******************************/
.menu {
    background-color: black;
    color: white;
}

.menu li {
    padding: 0.5rem;
}

.menu,
.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu > li {
    /* 대 메뉴 */
    display: inline-block;
    width: 100px;
    text-align: center;

    /* 이 스타일 적용시 ... 처리 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu > li.active {
    color: yellow;
}

.menu ul {
    display: none;
    position: absolute;
    width: 100px;
    margin-left: -8px;
    margin-top: 12px;
    color: black;
    background-color: lightgray;
}

.menu > li:hover > ul {
    display: block;
}

.menu ul > li:hover {
    background-color: gray;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*****************************************
테이블 스타일
*****************************************/
.table {
	margin:auto;
    border: 1px solid gray;
    border-collapse: collapse;
}

.table > thead > tr {
    background-color: rgba(0, 0, 0, 0.2);
}

.table > thead > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > th, 
.table > tbody > tr > td,
.table > tfoot > tr > th, 
.table > tfoot > tr > td {
    border: 1px solid gray;
    padding: 0.5rem;
}

/* table hover 스타일 */
.table.table-hover > tbody > tr:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

/* 줄무늬 테이블*/
.table.table-stripe > tbody > tr:nth-child(2n){
    background-color:rgba(0, 0, 0, 0.05);
}

/* 선 없는 테이블 */
.table.table-noline,
.table.table-noline > thead > tr > th, 
.table.table-noline > thead > tr > td, 
.table.table-noline > tbody > tr > th, 
.table.table-noline > tbody > tr > td,
.table.table-noline > tfoot > tr > th, 
.table.table-noline > tfoot > tr > td {
    border:none;
}
/* 가로선만 있는 테이블 */
.table.table-hamburg{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right:none;
}
.table.table-hamburg > thead{
    border-bottom: 2px solid black;
}
.table.table-hamburg > thead > tr > th, 
.table.table-hamburg > thead > tr > td, 
.table.table-hamburg > tbody > tr > th, 
.table.table-hamburg > tbody > tr > td,
.table.table-hamburg > tfoot > tr > th, 
.table.table-hamburg > tfoot > tr > td{
    border:none;
}
.table.table-hamburg > tbody > tr{
    border-bottom:1px dotted black;
}

/***************************************
내용 정렬
***************************************/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/***********************************************
form 스타일
***********************************************/
.form input,
.form select,
.form textarea{
    outline:none;
    padding:0.5rem;
}

.form > fieldset{
	margin:auto;
}

/* 입력창 : input(submit, button, reset 빼고), 
                    select, textarea */
.form input:not([type=submit]):not([type=button]):not([type=reset]):not([type=checkbox]):not([type=radio]),
.form select,
.form textarea{
    border:1px solid black;
    border-radius: 5px;
}

/* 버튼 : input(submit, button, reset) + button */
.form button,
.form input[type=submit],
.form input[type=button],
.form input[type=reset]{
    border:none;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.6);
    color:white;
}

/* 수직 폼 확장 스타일 */
.form.form-vertical input:not([type=submit]):not([type=button]):not([type=reset]):not([type=checkbox]):not([type=radio]),
.form.form-vertical select,
.form.form-vertical textarea{
    display:block;
    margin:10px 0px;
}

.form.form-vertical > fieldset{
    display:inline-block;
    text-align: right;
}

.form.form-vertical > fieldset > legend{
    text-align: left;
}

.form.form-vertical-line input:not([type=checkbox]):not([type=radio]),
.form.form-vertical-line select,
.form.form-vertical-line textarea{
	display:block;
    margin:10px 0px;
    width:100%;
}

.form.form-label .form-group{
    margin:15px 0px;
}
.form.form-label .form-group > label{
    float:left;
    width:25%;
    text-align: center;
    padding:0.4rem;
}
.form.form-label .form-group > input,
.form.form-label .form-group > select,
.form.form-label .form-group > textarea{
    float:left;
    width:75%;
}

.form textarea{
	resize:vertical;
}

.form.form-label .form-group > textarea{
	min-height:180px;
}

/* 
form-group에서 사용한 float를 정리하는 스타일 
 - 실제로 존재하는 영역이 아님
 - 실체화 시킨다음 스타일을 적용
*/
.form.form-label .form-group::after{
    content:"";
    display:block;
    clear:both;
}

.form.form-label button,
.form.form-label input[type=submit],
.form.form-label input[type=button],
.form.form-label input[type=reset]{
    width:100%;
}

/* 칸 밀어내기용 빈 블럭 */
.empty{
	height:25px;
}

/* 영역 폭 지정 스타일 */
.w100{ width:100%; }
.w90{ width:90%; }
.w80{ width:80%; }
.w70{ width:70%; }
.w60{ width:60%; }
.w50{ width:50%; }
.w40{ width:40%; }
.w30{ width:30%; }
.w20{ width:20%; }
.w10{ width:10%; }




